html {
    font-size: 100%;
}

body {
    min-height: 100vh;
    margin: 0px;
    font-family: Arial, sans-serif;
    color: #333;
    background-image: linear-gradient(135deg, #e9ecef 0%, #f1f3f5 100%);
    display: flex;
    flex-direction: column;
}

/* --- --- --- --- --- HEADER --- --- --- --- --- --- */
header {
    height: 80px;
    padding: 0 25px;
    font-weight: 700;
    font-size: 2.75rem;
    color: #fff;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- --- --- --- --- MAIN --- --- --- --- --- --- */
main {
    padding: 25px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}

#turnDisplay, #resultDisplay {
    height: 28px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #005f5f;
}

#containerWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

#containerWrapper > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

section > div:first-child {
    font-weight: 500;
    font-size: 1.25rem;
}

/* --- --- --- --- --- BOARD --- --- --- --- --- --- */
.board {
    border: 1px solid #273547e7 ;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

.cell {
    z-index: 0;
    position: relative;
}

.cell::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -1px;
    margin-left: -1px;
    border-top: solid #0065d83b 1px;
    border-left: solid #0065d83b 1px;
    z-index: 1;
}

.show {
    position: relative;
    box-shadow: #0065d8 0 0 0 2px;
    z-index: auto;
    margin: 0;
}

.show::before {
    content: "";
    position: absolute;
    border-top: solid #0065d83b 1px;
    border-left: solid #0065d83b 1px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f5ff;
    border: none;
    box-shadow: none;
    z-index: 1;
}

.miss {
    position: relative;
    margin-top: -1px;
    margin-left: -1px;
    border-top: solid #0065d83b 1px;
    border-left: solid #0065d83b 1px;
}

.miss::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px;
    border-radius: 50%;
    background-color: #000000a9;
}

.hit {
    position: relative;
    z-index: auto;
    box-shadow: #0065d8 0 0 0 2px;
}

.hit::before {
    content: "";
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f5ff;
    z-index: 3;
}

.hit::after {
    content: "✕";
    color: #004fa8;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.sunk {
    position: relative;
    z-index: auto;
    border: none;
    cursor: default;
}

.sunk::before {
    content: "";
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6097d6;
    z-index: 4;
}

.sunk::after {
    content: "✕";
    color: white;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

#containerTwo .cell:hover:not(.hit, .miss) {
    background-color: #8585851c;
    cursor: pointer;
}

/* --- --- --- --- --- BUTTONS --- --- --- --- --- --- */ 
.board-btns {
    display: flex;
    column-gap: 10px;
}

.board-btns.hidden {
    display: flex;
    visibility: hidden;  /* still part of the normal flow of document but no longer interactive */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #00408a;
}

#startBtn, #exitBtn {
    font-weight: 500;
    font-size: 1.25rem;
}

.hidden {
    display: none;
}

/* --- --- --- --- --- FOOTER --- --- --- --- --- --- */
footer {
    height: 50px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#footerText {
    font-size: 1.2rem;
}

footer a {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #888;
}